﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Find your Mentor";
}
<div class="homegridwrapper">
    <div class="firstlinegrid">
        <div class="middletext">Explore Russia with your Mentor</div>
       
        <div class="simpleform">
            <div class="simpletexttwo">
                Try your first small talk with Mentor for free
            </div>
            <form class="form-inline">
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Name">
                <label class="sr-only" for="inlineFormInputName2">Email</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Email">

                <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Phone">
                </div>
                <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#callyousoonmodel">Apply</button>
            </form>
        </div>
    </div>
    <div class="secondlinegrid">
        <div class="simpletext">
            Our Mentors will help you learn Russian, quickly assimilate in a city and to not get stuck in the new environment. <br />
            You can find your compatriots who knows how tough life in Russia is :)
        </div>
    
    </div>

    <div class="mentorsdivs" id="1">
        <div class="image-cropper">
            <img src=@Url.Content("~/images/harvinder.jpg") alt="avatar" class="profile-pic">
        </div>
        <div class="mentorname">Harvinder Singh</div>
        <div class="mentorage">
            Hourly Rate $20
        </div>
        <div class="mentordescription">
            <ul class="mentorsdescriptioncloud">
                <li>Russian</li>
                <li>Cinema</li>
                <li>Malls</li>
                <li>Local Attractions</li>
                <li>Activities with locals</li>
            </ul>

        </div>
    </div>
    <div class="mentorsdivs" id="2">
        <div class="image-cropper">
            <img src=@Url.Content("~/images/kim.jpg") alt="avatar" class="profile-pic">
        </div>
        <div class="mentorname">Kim Song Gon</div>
        <div class="mentorage">
            Hourly Rate $25
        </div>
        <div class="mentordescription">
            <ul class="mentorsdescriptioncloud">
                <li>Russian</li>
                <li>Cinema</li>
                <li>Local Attractions</li>
                <li>Restaurants</li>
            </ul>
        </div>
    </div>
    <div class="mentorsdivs" id="3">
        <div class="image-cropper">
            <img src=@Url.Content("~/images/merzaz.jpg") alt="avatar" class="profile-pic">
        </div>
        <div class="mentorname">Meraz Khan</div>
        <div class="mentorage">
            Hourly Rate $18
        </div>
        <div class="mentordescription">
            <ul class="mentorsdescriptioncloud">
                <li>Russian</li>
                <li>Skiing</li>
                <li>Local Attractions</li>
                <li>Restaurants</li>
                <li>Top spots</li>
            </ul>
        </div>
    </div>
    <div class="mentorsdivs" id="4">
        <div class="image-cropper">
            <img src=@Url.Content("~/images/soni.jpg") alt="avatar" class="profile-pic">
        </div>
        <div class="mentorname">Hariom Soni</div>
        <div class="mentorage">
            Hourly Rate $38
        </div>
        <div class="mentordescription">
            <ul class="mentorsdescriptioncloud">
                <li>Dentistry</li>
                <li>Skiing</li>
                <li>Local Attractions</li>
                <li>Russian</li>
                <li>Restaurants</li>
            </ul>
        </div>
    </div>
    <div class="mentorsdivs" id="5">
        <div class="image-cropper">
            <img src=@Url.Content("~/images/delhi.jpg") alt="avatar" class="profile-pic">
        </div>
        <div class="mentorname">Delhi Nishat</div>
        <div class="mentorage">
            Hourly Rate $25
        </div>
        <div class="mentordescription">
            <ul class="mentorsdescriptioncloud">
                <li>Russian</li>
                <li>Skiing</li>
                <li>Sightseeing</li>
                <li>Local Attractions</li>
            </ul>
        </div>
    </div>
    <div class="mentorsdivs" id="6">
        <div class="image-cropper">
            <img src=@Url.Content("~/images/Chao.jpg") alt="avatar" class="profile-pic">
        </div>
        <div class="mentorname">Zhang Chao</div>
        <div class="mentorage">
            Hourly Rate $15
        </div>
        <div class="mentordescription">
            <ul class="mentorsdescriptioncloud">
                <li>Culture</li>
                <li>Russian</li>
                <li>Yachting</li>
                <li>Sightseeing</li>
                <li>Local Guide</li>
            </ul>
        </div>
    </div>

</div>
<div class="modal" tabindex="-1" role="dialog" id="callyousoonmodel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
      
            <div class="modal-body-big">
                <p>Thanks for applying!
                <br />We will call you as soon as possible!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>