﻿@page
@model ScheduleDataModel
@{
    ViewData["Title"] = "Schedule";
    ViewData["ActivePage"] = ManageNavPages.Schedule;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">

        <div class="week">
            <div class="week-day">Monday</div>
            <div class="week-day">Tuesday</div>
            <div class="week-day">Wednesday</div>
            <div class="week-day">Thursday</div>
            <div class="week-day">Friday</div>
        </div>
        <div class="week">
            <div class="day">
                <div class="event event-end">Rashid Kutrapali</div>
                <div class="event event-end">Kim Chen In</div>
            </div>
            <div class="day">
            </div>
            <div class="day">
                <div class="event event-start event-end">Mohhamed Chkih</div>
            </div>
            <div class="day">
            </div>
            <div class="day">
                <div class="event event-start">Meeting</div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}