﻿.week {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense;
    grid-gap: 2px 10px;
}

.day {
    display: contents;
    background-color: #DDD;
    border: 2px solid #2eb9ce;
    
}

.week-day, .day-label, .event {
    padding: 4px 10px;
}

.event {
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,139,45,0.589233193277311) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,139,45,0.589233193277311) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,139,45,0.589233193277311) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fd8b2d",GradientType=1);
    border-radius: 0px 0px 30px 0px;
    -moz-border-radius: 0px 0px 30px 0px;
    -webkit-border-radius: 0px 0px 30px 0px;
    -webkit-box-shadow: 0px 0px 10px 0px #82e8f0;
    -moz-box-shadow: 0px 0px 10px 0px #82e8f0;
    box-shadow: 0px 0px 10px 0px #82e8f0;
    min-height:5vw;
}



.day:nth-child(1) > .event {
    grid-column-start: 1;
}

.day:nth-child(2) > .event {
    grid-column-start: 2;
}

.day:nth-child(3) > .event {
    grid-column-start: 3;
}

.day:nth-child(4) > .event {
    grid-column-start: 4;
}

[data-span="1"] {
    grid-column-end: span 1;
}

[data-span="2"] {
    grid-column-end: span 2;
}

[data-span="3"] {
    grid-column-end: span 3;
}

[data-span="4"] {
    grid-column-end: span 4;
}

[data-span="5"] {
    grid-column-end: span 5;
}

[data-span="6"] {
    grid-column-end: span 6;
}

[data-span="7"] {
    grid-column-end: span 7;
}

